body {
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo {
    color: #0866ff;
    font-size: 70px;
}

.div-direita {
    flex: 1;
    flex-direction: column;
}

.div-esquerda {
    flex: 1;
    height: 800px;
}

.div-esquerda div {
    width: 400px;
    height: 400px;
}

.texto {
    font-size: 20px;
}

.card-login {
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.flex-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text {
    width: 300px;
    height: 40px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}

.input-text::placeholder {
    color: gray;
}

.input-text:focus {
    border-color: #0866ff;
    outline: none;
}

.input-button {
    height: 40px;
    background-color: #0866ff;
    padding: 0px 135px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}